In [1]:
import pandas as pd

In [2]:
df_education = pd.read_csv(r"C:\Users\mobin\DATASIENCE\INTERNSHIP\Job Recommendation Engine\Details and Datasets\education.csv")
df_employment = pd.read_csv(r"C:\Users\mobin\DATASIENCE\INTERNSHIP\Job Recommendation Engine\Details and Datasets\employment.csv")
df_job = pd.read_csv(r"C:\Users\mobin\DATASIENCE\INTERNSHIP\Job Recommendation Engine\Details and Datasets\jobs.csv")

## FEATURE ENGINEERING AND MODEL BUILDING

In [3]:
df_education.head()

,Id,primarySchool,primaryPercentage,primaryPassoutYear,secondarySchool,secondaryPercentage,secondaryPassoutYear,graduation,graduationPercentage,graduationPassoutYear,orgId,applicantId,certificates,name,degree,fieldOfStudy,percentage,certificate,createdOn
0,966,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIJP1291,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684
1,967,Marks High school,86,1999,Marks High school,80.0,2001,NaN,0.0,0,NaN,AIJV7014,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684
2,968,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIAA7617,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684
3,969,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIRK6266,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684
4,976,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,AIDK9811,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684

In [4]:
df_education.shape

(188, 19)

In [5]:
df_employment.head()

,employmentId,uploadResume,currentCompany,currentDesignation,annualSalary,industry,functionalArea,role,currentLocation,orgId,...,packageOffered,lastWorkingDay,remarks,previousCompany,offerLetter,experienceLetter,relieveingLetter,isRecent,paySlips,createdOn
0,48,NaN,ESMOB Technologies,React JS Developer,3.5,1.0,Software Developer,NaN,Hyderabad,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
1,61,NaN,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,4.5,1.0,Software Developer,NaN,Hyderabad,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
2,62,NaN,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,360000,1.0,Software Developer,NaN,Hyderabad,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
3,63,NaN,IT Contractors,Java Developer,490000,1.0,IT,NaN,Bangalore,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
4,64,NaN,Novell Logic,Java Developer,500000,1.0,IT,NaN,Bangalore,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932

In [6]:
df_employment.shape

(2099, 33)

In [7]:
df_job.head()

,jobTitle,position,minBudget,maxBudget,travelReq,location,description,attachment,orgId,jobType,...,priority,priceType,workType,comment,subvendorId,Questionnaires,country,department,eligibility,responsibilities
0,Plant Maintenance Engineer,Plant Maintenance Engineer,300000.0,600000.0,True,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",NaN,1,Permanent,...,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,14.0,15.0,True,{ChennaiBangaloreHyderabad},An understanding of the marketing technologies...,NaN,1,Permanent,...,High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AEM architect,Aemarchitect,12.0,15.0,True,{bangalore},"To analyze, understand the client’s business u...",NaN,1,Permanent,...,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Azure Administrator,Azure Administrator,14.0,16.0,False,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,NaN,1,Permanent,...,High,INR,Work from Office,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEM architect,Aemarchitect,30.0,32.0,True,{bangalore},"Should have experience in java, OSGI, Componen...",https://storage.googleapis.com/hrm-musquare/jo...,1,Permanent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_job.shape

(307, 30)

## FEATURE ENGINEERING

**Types of Feature**

In [9]:
# Numerica features for df_education
# Categorical features for df_education
numeric_education = [feature for feature in df_education.columns if df_education[feature].dtype != 'O']
categorical_education = [feature for feature in df_education.columns if df_education[feature].dtype == 'O']

print('Number of Numerical Features are: ', len(numeric_education))
print("\nNumber of Categorical features are: ", len(categorical_education))

Number of Numerical Features are:  13

Number of Categorical features are:  6

In [10]:
# Creating a data without numerical features for df_education

df_cat_education = df_education.drop(columns=numeric_education, axis =1)
df_cat_education

,primarySchool,secondarySchool,graduation,applicantId,certificates,createdOn
0,NaN,NaN,NaN,AIJP1291,NaN,2024-03-08 08:48:16.349684
1,Marks High school,Marks High school,NaN,AIJV7014,NaN,2024-03-08 08:48:16.349684
2,NaN,NaN,NaN,AIAA7617,NaN,2024-03-08 08:48:16.349684
3,NaN,NaN,NaN,AIRK6266,NaN,2024-03-08 08:48:16.349684
4,NaN,NaN,NaN,AIDK9811,NaN,2024-03-08 08:48:16.349684
...,...,...,...,...,...,...
183,NaN,NaN,NaN,AISA9946,NaN,2024-03-08 08:48:16.349684
184,NaN,NaN,NaN,AIRV8909,NaN,2024-03-08 08:48:16.349684
185,NaN,NaN,NaN,AISN2058,NaN,2024-03-08 08:48:16.349684
186,NaN,NaN,NaN,AIVS1326,NaN,2024-03-08 08:48:16.349684
187,NaN,NaN,NaN,AIVV3855,NaN,2024-03-08 08:48:16.349684

In [11]:
df_cat_education['primarySchool'].unique()

array([nan, 'Marks High school', 'a', 'St. Ann high school', 'stanthony',
       'afasfs', 'st anthony high school', 'St patricks', 'D.A.V School',
       'asd', 'aa', 'ee'], dtype=object)

In [12]:
# Numerica features for df_employment
# Categorical features for df_employment
numeric_employment = [feature for feature in df_employment.columns if df_employment[feature].dtype != 'O']
categorical_employment = [feature for feature in df_employment.columns if df_employment[feature].dtype == 'O']

print('Number of Numerical Features are: ', len(numeric_employment))
print("\nNumber of Categorical features are: ", len(categorical_employment))

Number of Numerical Features are:  14

Number of Categorical features are:  19

In [13]:
df_cat_employment = df_employment.drop(columns=numeric_employment, axis =1)
df_cat_employment

,uploadResume,currentCompany,currentDesignation,annualSalary,functionalArea,currentLocation,noticePeriod,skills,applicantId,preferedLocation,holdingAnyOffer,expectedCtc,feedback,comment,isCurrent,companyEmail,lastWorkingDay,remarks,createdOn
0,NaN,ESMOB Technologies,React JS Developer,3.5,Software Developer,Hyderabad,NaN,"{css,js}",AISB2256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
1,NaN,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,4.5,Software Developer,Hyderabad,NaN,"{RPA,python}",AIPH2278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
2,NaN,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,360000,Software Developer,Hyderabad,NaN,"{java,spring,hibernate}",AIST2288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
3,NaN,IT Contractors,Java Developer,490000,IT,Bangalore,NaN,"{Java,Springboot}",AIVV2277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
4,NaN,Novell Logic,Java Developer,500000,IT,Bangalore,NaN,"{Java,springboot}",AIMV2241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,NaN,LTIMindtree,Azure DevOps Engineer,400000,Development,Hyderabad,Immediate,"{""Azure Devops""}",AISA9946,Hyderabad,No,650000,NaN,NaN,True,NaN,NaN,NaN,2024-03-08 08:49:43.960932
2095,NaN,TestingXperts Pvt Ltd,Software Engineer,643000,Development,Haryana,15-30 days,"{Java,JavaScript,Hibernate,Springboot}",AIRV8909,New Delhi,No,1200000,NaN,NaN,True,NaN,NaN,NaN,2024-03-08 08:49:43.960932
2096,NaN,Tata Consultancy Services,DevOps Engineer,400000,Development,Andhra Pradesh,Immediate,"{""Azure Devops""}",AISN2058,Hyderabad,No,700000,NaN,NaN,True,NaN,NaN,NaN,2024-03-08 08:49:43.960932
2097,NaN,Zemoso Technologies Pvt Ltd,DevOps Engineer,950000,Development,Andhra Pradesh,15-30 days,"{Devops,AWS,Azure}",AIVS1326,Kolkata,No,1200000,NaN,NaN,True,NaN,NaN,NaN,2024-03-08 08:49:43.960932
2098,NaN,HCL,Microsoft Azure DevOps Engineer,480000,Development,Vijayawada,0-15 days,"{""Azure Devops""}",AIVV3855,Hyderabad,No,650000,NaN,NaN,True,NaN,2023-11-02,NaN,2024-03-08 08:49:43.960932

In [14]:
df_cat_employment.isnull().sum()

uploadResume           499
currentCompany          97
currentDesignation      43
annualSalary           105
functionalArea         113
currentLocation        100
noticePeriod           180
skills                   0
applicantId              0
preferedLocation       563
holdingAnyOffer        585
expectedCtc            560
feedback              2078
comment               1940
isCurrent              906
companyEmail          1405
lastWorkingDay        2078
remarks               2040
createdOn                0
dtype: int64

In [15]:
for i in df_cat_employment:
    if df_cat_employment[i].isnull().sum() > 564:
        df_cat_employment.drop(i, axis=1, inplace = True)
df_cat_employment.head()

,uploadResume,currentCompany,currentDesignation,annualSalary,functionalArea,currentLocation,noticePeriod,skills,applicantId,preferedLocation,expectedCtc,createdOn
0,NaN,ESMOB Technologies,React JS Developer,3.5,Software Developer,Hyderabad,NaN,"{css,js}",AISB2256,NaN,NaN,2024-03-08 08:49:43.960932
1,NaN,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,4.5,Software Developer,Hyderabad,NaN,"{RPA,python}",AIPH2278,NaN,NaN,2024-03-08 08:49:43.960932
2,NaN,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,360000,Software Developer,Hyderabad,NaN,"{java,spring,hibernate}",AIST2288,NaN,NaN,2024-03-08 08:49:43.960932
3,NaN,IT Contractors,Java Developer,490000,IT,Bangalore,NaN,"{Java,Springboot}",AIVV2277,NaN,NaN,2024-03-08 08:49:43.960932
4,NaN,Novell Logic,Java Developer,500000,IT,Bangalore,NaN,"{Java,springboot}",AIMV2241,NaN,NaN,2024-03-08 08:49:43.960932

In [16]:
# Numerica features for df_job
# Categorical features for df_job

numeric_job = [feature for feature in df_job.columns if df_job[feature].dtype != 'O']
categorical_job = [feature for feature in df_job.columns if df_job[feature].dtype == 'O']

print('Number of Numerical Features are: ', len(numeric_job))
print("\nNumber of Categorical features are: ", len(categorical_job))

Number of Numerical Features are:  12

Number of Categorical features are:  18

In [17]:
df_cat_job = df_job.drop(columns=numeric_job, axis = 1)
df_cat_job

,jobTitle,position,location,description,attachment,jobType,skills,recruiter,client,noticePeriod,status,jobId,createDate,priority,priceType,workType,comment,country
0,Plant Maintenance Engineer,Plant Maintenance Engineer,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",NaN,Permanent,"{""Plant Maintenance""}",DB413862,CIHI7757,15-30 days,Active,JDA&5399,2023-01-31 11:09:26.36189,High,INR,Work from Office,NaN,NaN
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,{ChennaiBangaloreHyderabad},An understanding of the marketing technologies...,NaN,Permanent,"{""Adobe anaytics"",Agile,tableau,Marketo,""power...",Venkata Sai Rohith,CIHW9344,15-30 days,Active,JDAA1476,2022-03-30 11:20:03.031659,High,NaN,NaN,NaN,NaN
2,AEM architect,Aemarchitect,{bangalore},"To analyze, understand the client’s business u...",NaN,Permanent,"{JIRA,Confluence,AEM}",Venkata Sai Rohith,CIHW9344,30-45 days,Active,JDAA5139,2022-03-07 13:21:41.393509,Low,NaN,NaN,NaN,NaN
3,Azure Administrator,Azure Administrator,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,NaN,Permanent,"{""Azure Administrator ""}",PC138515,CIQC2196,45-60 days,Active,JDAA6310,2023-05-04 12:23:28.16582,High,INR,Work from Office,NaN,NaN
4,AEM architect,Aemarchitect,{bangalore},"Should have experience in java, OSGI, Componen...",https://storage.googleapis.com/hrm-musquare/jo...,Permanent,"{sling,jackrabbit,OSGI,felix,JCR}",Venkata Sai Rohith,CIHW9344,30-45 days,Active,JDAA7883,2022-03-07 13:35:36.779486,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Workday Analyst,wokday functional,{bangalore},Workday Certification with 8+ Years of impleme...,https://storage.googleapis.com/hrm-musquare/jo...,Permanent,"{""workday tools"",""workday hcm functional"",""cor...",Venkata Sai Rohith,CIHW9344,0-15 days,Active,JDWA1049,2022-03-15 09:31:29.327834,NaN,NaN,NaN,NaN,NaN
303,Web UI Developer,Web UI Developer,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",https://storage.googleapis.com/hrm-musquare/jo...,Permanent,"{""HTML 5"",CSS,""Java Scripts"",JQuery,AngularJS,...",Achyuth,CIAS8119,0-15 days,Active,JDWD2238,2022-02-17 06:09:20.180967,NaN,NaN,NaN,NaN,NaN
304,Workday HRIS Analyst Trainee Analyst,Trainee Analyst,{Bengaluru},"We support our clients around the clock. So, p...",NaN,Permanent,"{""HRIS ""}",DB413862,CICS9111,Immediate,Active,JDWH2618,2023-01-20 09:25:19.824712,High,INR,Work from Office,NaN,NaN
305,Workday,Workaday Functional,"{""Bangalore, Chennai, Mumbai, Pune""}",Workday Certification with 8+ Years of impleme...,https://storage.googleapis.com/hrm-musquare/jo...,Permanent,"{workday,""core compensation"",""Workday HCM"",""Wo...",Harika,CIHW9344,15-30 days,Active,JDWO2277,2022-02-17 06:09:20.180967,NaN,NaN,NaN,NaN,NaN
306,Web UI,Developer,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",https://storage.googleapis.com/hrm-musquare/jo...,Permanent,{html},Achyuth,CIAS8119,0-15 days,Active,JDWU2245,2022-02-17 06:09:20.180967,NaN,NaN,NaN,NaN,NaN

In [18]:
df_cat_job.isnull().sum()

jobTitle          0
position          0
location          0
description       0
attachment      239
jobType           0
skills            0
recruiter         0
client            0
noticePeriod      0
status            0
jobId             0
createDate        0
priority         45
priceType        50
workType         48
comment         302
country         292
dtype: int64

In [19]:
# removing nan columns
for i in df_cat_job:
    if df_cat_job[i].isnull().sum()>1:
        df_cat_job.drop(i, axis = 1, inplace=True)
df_cat_job

,jobTitle,position,location,description,jobType,skills,recruiter,client,noticePeriod,status,jobId,createDate
0,Plant Maintenance Engineer,Plant Maintenance Engineer,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",Permanent,"{""Plant Maintenance""}",DB413862,CIHI7757,15-30 days,Active,JDA&5399,2023-01-31 11:09:26.36189
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,{ChennaiBangaloreHyderabad},An understanding of the marketing technologies...,Permanent,"{""Adobe anaytics"",Agile,tableau,Marketo,""power...",Venkata Sai Rohith,CIHW9344,15-30 days,Active,JDAA1476,2022-03-30 11:20:03.031659
2,AEM architect,Aemarchitect,{bangalore},"To analyze, understand the client’s business u...",Permanent,"{JIRA,Confluence,AEM}",Venkata Sai Rohith,CIHW9344,30-45 days,Active,JDAA5139,2022-03-07 13:21:41.393509
3,Azure Administrator,Azure Administrator,"{""Pan India""}",1.\tArchitecture and Design for large scale Az...,Permanent,"{""Azure Administrator ""}",PC138515,CIQC2196,45-60 days,Active,JDAA6310,2023-05-04 12:23:28.16582
4,AEM architect,Aemarchitect,{bangalore},"Should have experience in java, OSGI, Componen...",Permanent,"{sling,jackrabbit,OSGI,felix,JCR}",Venkata Sai Rohith,CIHW9344,30-45 days,Active,JDAA7883,2022-03-07 13:35:36.779486
...,...,...,...,...,...,...,...,...,...,...,...,...
302,Workday Analyst,wokday functional,{bangalore},Workday Certification with 8+ Years of impleme...,Permanent,"{""workday tools"",""workday hcm functional"",""cor...",Venkata Sai Rohith,CIHW9344,0-15 days,Active,JDWA1049,2022-03-15 09:31:29.327834
303,Web UI Developer,Web UI Developer,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",Permanent,"{""HTML 5"",CSS,""Java Scripts"",JQuery,AngularJS,...",Achyuth,CIAS8119,0-15 days,Active,JDWD2238,2022-02-17 06:09:20.180967
304,Workday HRIS Analyst Trainee Analyst,Trainee Analyst,{Bengaluru},"We support our clients around the clock. So, p...",Permanent,"{""HRIS ""}",DB413862,CICS9111,Immediate,Active,JDWH2618,2023-01-20 09:25:19.824712
305,Workday,Workaday Functional,"{""Bangalore, Chennai, Mumbai, Pune""}",Workday Certification with 8+ Years of impleme...,Permanent,"{workday,""core compensation"",""Workday HCM"",""Wo...",Harika,CIHW9344,15-30 days,Active,JDWO2277,2022-02-17 06:09:20.180967
306,Web UI,Developer,{Bangalore},"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",Permanent,{html},Achyuth,CIAS8119,0-15 days,Active,JDWU2245,2022-02-17 06:09:20.180967

In [20]:
df_cat_job.columns

Index(['jobTitle', 'position', 'location', 'description', 'jobType', 'skills',
       'recruiter', 'client', 'noticePeriod', 'status', 'jobId', 'createDate'],
      dtype='object')

#### Gathering important features in one dataframe

In [21]:
new_data_job= df_cat_job[['jobTitle', 'position', 'description', 'skills',]]
new_data_job

,jobTitle,position,description,skills
0,Plant Maintenance Engineer,Plant Maintenance Engineer,"Read and understand the data from P&ID, PEFS, ...","{""Plant Maintenance""}"
1,Adobe Analytics developer,AdobeAnalyticsdeveloper,An understanding of the marketing technologies...,"{""Adobe anaytics"",Agile,tableau,Marketo,""power..."
2,AEM architect,Aemarchitect,"To analyze, understand the client’s business u...","{JIRA,Confluence,AEM}"
3,Azure Administrator,Azure Administrator,1.\tArchitecture and Design for large scale Az...,"{""Azure Administrator ""}"
4,AEM architect,Aemarchitect,"Should have experience in java, OSGI, Componen...","{sling,jackrabbit,OSGI,felix,JCR}"
...,...,...,...,...
302,Workday Analyst,wokday functional,Workday Certification with 8+ Years of impleme...,"{""workday tools"",""workday hcm functional"",""cor..."
303,Web UI Developer,Web UI Developer,"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...","{""HTML 5"",CSS,""Java Scripts"",JQuery,AngularJS,..."
304,Workday HRIS Analyst Trainee Analyst,Trainee Analyst,"We support our clients around the clock. So, p...","{""HRIS ""}"
305,Workday,Workaday Functional,Workday Certification with 8+ Years of impleme...,"{workday,""core compensation"",""Workday HCM"",""Wo..."
306,Web UI,Developer,"Web UI Developer:\r\nHTML 5, CSS, Java Scripts...",{html}

In [22]:
df_cat_employment

,uploadResume,currentCompany,currentDesignation,annualSalary,functionalArea,currentLocation,noticePeriod,skills,applicantId,preferedLocation,expectedCtc,createdOn
0,NaN,ESMOB Technologies,React JS Developer,3.5,Software Developer,Hyderabad,NaN,"{css,js}",AISB2256,NaN,NaN,2024-03-08 08:49:43.960932
1,NaN,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,4.5,Software Developer,Hyderabad,NaN,"{RPA,python}",AIPH2278,NaN,NaN,2024-03-08 08:49:43.960932
2,NaN,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,360000,Software Developer,Hyderabad,NaN,"{java,spring,hibernate}",AIST2288,NaN,NaN,2024-03-08 08:49:43.960932
3,NaN,IT Contractors,Java Developer,490000,IT,Bangalore,NaN,"{Java,Springboot}",AIVV2277,NaN,NaN,2024-03-08 08:49:43.960932
4,NaN,Novell Logic,Java Developer,500000,IT,Bangalore,NaN,"{Java,springboot}",AIMV2241,NaN,NaN,2024-03-08 08:49:43.960932
...,...,...,...,...,...,...,...,...,...,...,...,...
2094,NaN,LTIMindtree,Azure DevOps Engineer,400000,Development,Hyderabad,Immediate,"{""Azure Devops""}",AISA9946,Hyderabad,650000,2024-03-08 08:49:43.960932
2095,NaN,TestingXperts Pvt Ltd,Software Engineer,643000,Development,Haryana,15-30 days,"{Java,JavaScript,Hibernate,Springboot}",AIRV8909,New Delhi,1200000,2024-03-08 08:49:43.960932
2096,NaN,Tata Consultancy Services,DevOps Engineer,400000,Development,Andhra Pradesh,Immediate,"{""Azure Devops""}",AISN2058,Hyderabad,700000,2024-03-08 08:49:43.960932
2097,NaN,Zemoso Technologies Pvt Ltd,DevOps Engineer,950000,Development,Andhra Pradesh,15-30 days,"{Devops,AWS,Azure}",AIVS1326,Kolkata,1200000,2024-03-08 08:49:43.960932
2098,NaN,HCL,Microsoft Azure DevOps Engineer,480000,Development,Vijayawada,0-15 days,"{""Azure Devops""}",AIVV3855,Hyderabad,650000,2024-03-08 08:49:43.960932

In [23]:
df_cat_employment.columns

Index(['uploadResume', 'currentCompany', 'currentDesignation', 'annualSalary',
       'functionalArea', 'currentLocation', 'noticePeriod', 'skills',
       'applicantId', 'preferedLocation', 'expectedCtc', 'createdOn'],
      dtype='object')

In [24]:
new_data_employment = df_cat_employment[['currentCompany', 'currentDesignation',
       'functionalArea','skills']]
new_data_employment

,currentCompany,currentDesignation,functionalArea,skills
0,ESMOB Technologies,React JS Developer,Software Developer,"{css,js}"
1,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,Software Developer,"{RPA,python}"
2,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,Software Developer,"{java,spring,hibernate}"
3,IT Contractors,Java Developer,IT,"{Java,Springboot}"
4,Novell Logic,Java Developer,IT,"{Java,springboot}"
...,...,...,...,...
2094,LTIMindtree,Azure DevOps Engineer,Development,"{""Azure Devops""}"
2095,TestingXperts Pvt Ltd,Software Engineer,Development,"{Java,JavaScript,Hibernate,Springboot}"
2096,Tata Consultancy Services,DevOps Engineer,Development,"{""Azure Devops""}"
2097,Zemoso Technologies Pvt Ltd,DevOps Engineer,Development,"{Devops,AWS,Azure}"
2098,HCL,Microsoft Azure DevOps Engineer,Development,"{""Azure Devops""}"

## Merging the Data

In [25]:
new_data = new_data_employment.merge(new_data_job, how='outer')
new_data

,currentCompany,currentDesignation,functionalArea,skills,jobTitle,position,description
0,ESMOB Technologies,React JS Developer,Software Developer,"{css,js}",NaN,NaN,NaN
1,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,Software Developer,"{RPA,python}",NaN,NaN,NaN
2,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,Software Developer,"{java,spring,hibernate}",NaN,NaN,NaN
3,IT Contractors,Java Developer,IT,"{Java,Springboot}",NaN,NaN,NaN
4,Grimiti Software Solutions,Java Developer,IT,"{Java,Springboot}",NaN,NaN,NaN
...,...,...,...,...,...,...,...
2376,NaN,NaN,NaN,"{""workday tools"",""workday hcm functional"",""cor...",Workday Analyst,wokday functional,Workday Certification with 8+ Years of impleme...
2377,NaN,NaN,NaN,"{""HTML 5"",CSS,""Java Scripts"",JQuery,AngularJS,...",Web UI Developer,Web UI Developer,"Web UI Developer:\r\nHTML 5, CSS, Java Scripts..."
2378,NaN,NaN,NaN,"{""HRIS ""}",Workday HRIS Analyst Trainee Analyst,Trainee Analyst,"We support our clients around the clock. So, p..."
2379,NaN,NaN,NaN,"{workday,""core compensation"",""Workday HCM"",""Wo...",Workday,Workaday Functional,Workday Certification with 8+ Years of impleme...
2380,NaN,NaN,NaN,{html},Web UI,Developer,"Web UI Developer:\r\nHTML 5, CSS, Java Scripts..."

## Cleaning the Data

In [26]:
new_data.duplicated().sum()

229

In [27]:
new_data.drop_duplicates(inplace=True)

In [28]:
new_data.duplicated().sum()

0

In [29]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2152 entries, 0 to 2380
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   currentCompany      2007 non-null   object
 1   currentDesignation  2010 non-null   object
 2   functionalArea      1992 non-null   object
 3   skills              2152 non-null   object
 4   jobTitle            828 non-null    object
 5   position            828 non-null    object
 6   description         828 non-null    object
dtypes: object(7)
memory usage: 134.5+ KB

In [30]:
new_data['description'][2376]

'Workday Certification with 8+ Years of implementation experience in Workday HCM (Human Capital Management) module\r\nHands-on experience with Workday navigation and Workday tools environment\r\nWD Integration experience is preferable\r\nProven work experience on implementation Core Compensation, Advance Compensation, Performance and Security in Workday would be an added advantage.\r\nEvaluating and selecting appropriate tools to improve our teams’ productivity\r\nModernize our portfolio via migrating / rebuilding current applications on the IBM Cloud.\r\nBuilding, automating, and releasing solutions on demand\r\nLeading and prioritizing backlog with guidance from Product Management, Engineering, Support/Operations\r\nLeading risks and resolving issues that affect release scope, schedule, and quality\r\nInteract with Client and Business team on requirement gathering and project implementations\r\nResponsible for application development and maintenance using planning and budgeting cloud service, Hyperion Planning, Hyperion Essbase \r\nWork on building metadata based on different source files\r\nCreate and test business rules for Driver based allocation, seeding process, currency conversion and copying assumptions\r\nCreate member formulas for constant currency calculation and variance scenarios\r\nCreate smart- push for data movements between different cubes\r\nDevelop profit and load and balance sheet data forms as per adhoc templates\r\nMigration of application across different instances for data recon\r\nBuild metadata based on extracts from different sources '

In [31]:
for i in new_data.columns:
    new_data[i].fillna(new_data[i].mode().max(), inplace=True)
new_data

,currentCompany,currentDesignation,functionalArea,skills,jobTitle,position,description
0,ESMOB Technologies,React JS Developer,Software Developer,"{css,js}",Angular Developer,Developemnt,Work with other team members.\r\nDesign and im...
1,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,Software Developer,"{RPA,python}",Angular Developer,Developemnt,Work with other team members.\r\nDesign and im...
2,"Dhatri Info Solutions Pvt. Ltd,",Java Developer,Software Developer,"{java,spring,hibernate}",Angular Developer,Developemnt,Work with other team members.\r\nDesign and im...
3,IT Contractors,Java Developer,IT,"{Java,Springboot}",Angular Developer,Developemnt,Work with other team members.\r\nDesign and im...
4,Grimiti Software Solutions,Java Developer,IT,"{Java,Springboot}",Angular Developer,Developemnt,Work with other team members.\r\nDesign and im...
...,...,...,...,...,...,...,...
2376,Fresher,React Developer,Development,"{""workday tools"",""workday hcm functional"",""cor...",Workday Analyst,wokday functional,Workday Certification with 8+ Years of impleme...
2377,Fresher,React Developer,Development,"{""HTML 5"",CSS,""Java Scripts"",JQuery,AngularJS,...",Web UI Developer,Web UI Developer,"Web UI Developer:\r\nHTML 5, CSS, Java Scripts..."
2378,Fresher,React Developer,Development,"{""HRIS ""}",Workday HRIS Analyst Trainee Analyst,Trainee Analyst,"We support our clients around the clock. So, p..."
2379,Fresher,React Developer,Development,"{workday,""core compensation"",""Workday HCM"",""Wo...",Workday,Workaday Functional,Workday Certification with 8+ Years of impleme...
2380,Fresher,React Developer,Development,{html},Web UI,Developer,"Web UI Developer:\r\nHTML 5, CSS, Java Scripts..."

In [32]:
new_data.isnull().sum()

currentCompany        0
currentDesignation    0
functionalArea        0
skills                0
jobTitle              0
position              0
description           0
dtype: int64

In [33]:
# importing the libraries

import nltk
from nltk.stem.porter import PorterStemmer 
from nltk.corpus import stopwords
import re

In [34]:
ps = PorterStemmer()

In [35]:
# creating a function that will be cleaning our text
# tokenize and remove unnecessery keywords in out text

def cleaning(text):
    clean_text = re.sub(r'[^a-zA-Z0-9\s]','',text)
    tokenize = nltk.word_tokenize(clean_text.lower())
    stemming = [ps.stem(words) for words in tokenize if words not in stopwords.words('english')]
    return " ".join(stemming)

In [36]:
cleaning("left and moving loving //85684 @#$%^&")

'left move love 85684'

In [37]:
# creating a copy of new_data
df1 = new_data.copy()

# applying text cleaning for each column
for i in df1.columns:
    # using lambda to iterate for each row
    df1[i] = df1[i].apply(lambda x: cleaning(x))
# returning the data_set
df1

,currentCompany,currentDesignation,functionalArea,skills,jobTitle,position,description
0,esmob technolog,react js develop,softwar develop,cssj,angular develop,developemnt,work team member design implement visual aesth...
1,lejara global solut pvt ltd,rpa develop,softwar develop,rpapython,angular develop,developemnt,work team member design implement visual aesth...
2,dhatri info solut pvt ltd,java develop,softwar develop,javaspringhibern,angular develop,developemnt,work team member design implement visual aesth...
3,contractor,java develop,,javaspringboot,angular develop,developemnt,work team member design implement visual aesth...
4,grimiti softwar solut,java develop,,javaspringboot,angular develop,developemnt,work team member design implement visual aesth...
...,...,...,...,...,...,...,...
2376,fresher,react develop,develop,workday toolsworkday hcm functionalcor compens,workday analyst,wokday function,workday certif 8 year implement experi workday...
2377,fresher,react develop,develop,html 5cssjava scriptsjqueryangularjsjsonangular,web ui develop,web ui develop,web ui develop html 5 css java script jqueri a...
2378,fresher,react develop,develop,hri,workday hri analyst traine analyst,traine analyst,support client around clock person requir work...
2379,fresher,react develop,develop,workdaycor compensationworkday hcmworkday tool,workday,workaday function,workday certif 8 year implement experi workday...
2380,fresher,react develop,develop,html,web ui,develop,web ui develop html 5 css java script jqueri a...

In [38]:
#combining all columns
df1['new_col'] = ''
for i in df1.columns[:-1]: # excluding new column
    df1['new_col'] = df1['new_col']+ " " + df1[i] 
    
# df1['new_col'] = df1.apply(lambda row: ''.join(row.values.astype(str)), axis=1)

In [68]:
df1.head(2)

,currentCompany,currentDesignation,functionalArea,skills,jobTitle,position,description,new_col
0,esmob technolog,react js develop,softwar develop,cssj,angular develop,developemnt,work team member design implement visual aesth...,esmob technolog react js develop softwar deve...
1,lejara global solut pvt ltd,rpa develop,softwar develop,rpapython,angular develop,developemnt,work team member design implement visual aesth...,lejara global solut pvt ltd rpa develop softw...

In [40]:
df1['new_col'][1]

' lejara global solut pvt ltd rpa develop softwar develop rpapython angular develop developemnt work team member design implement visual aesthet user interfac identifi issu front end code rectifi remov bug creat unit test ensur code function expect creat well written document ensur front end code abl queri api audit code identifi bottleneck perform fix technic abil implement user interfac use javascript angular framework know best practic modern way creat interfac ensur interfac abl interact backend api also need great commun collabor skill need interact fellow frontend backend develop regularli ensur compon integr togeth skill angular framework javascriptuxui'

In [41]:
df1.isnull().sum()

currentCompany        0
currentDesignation    0
functionalArea        0
skills                0
jobTitle              0
position              0
description           0
new_col               0
dtype: int64

In [42]:
# importing the TFIDF and COSINE SIMILARITY METRICES

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
tfif = TfidfVectorizer()
matrix = tfif.fit_transform(df1['new_col'])
similarity = cosine_similarity(matrix)

In [44]:
similarity[0]

array([1.        , 0.65930343, 0.65804634, ..., 0.03504895, 0.04418673,
       0.06690296])

In [45]:
similarity[0].shape

(2152,)

In [46]:
def recommendation(title):
    # Check if the title exists in the DataFrame
    if title not in df1['jobTitle'].values and title not in df1['currentDesignation'].values:
        return []

    # Initialize lists to store distance indices
    distance_idx = []
    distance_idx_2 = []

    # Find the index of the given job title
    idx_list = df1[df1['jobTitle'] == title].index[0]
    idx = df1.index.get_loc(idx_list)
    # Calculate similarity indices and sort them
    distance_idx = sorted(list(enumerate(similarity[idx])), key=lambda x: x[1], reverse=True)[1:5]

    """
    he enumerate function adds a counter to each item in the iterable (in this case, similarity[idx]). 
    This means that enumerate(similarity[idx]) will create an iterable of tuples, 
    where each tuple contains an index and the corresponding similarity score.
    """

    # Find the index of the given current designation
    idx_2_list = df1[df1['currentDesignation'] == title].index[0]
    idx_2 = df1.index.get_loc(idx_2_list)
    # Calculate similarity indices and sort them
    distance_idx_2 = sorted(list(enumerate(similarity[idx_2])), key=lambda x: x[1], reverse=True)[1:5]

    # Retrieve the job titles for the top similar jobs, avoiding duplicates
    jobs = []
    seen = set()
    for i in distance_idx:
    #distance_idx is a list of tuples where each tuple contains an index and a similarity score.
    #The for loop iterates over each tuple in distance_idx.

        job_title = df1.iloc[i[0]].jobTitle
        if job_title not in seen:
            jobs.append(job_title)
            seen.add(job_title)
    for i in distance_idx_2:
        job_title = df1.iloc[i[0]].currentDesignation
        if job_title not in seen:
            jobs.append(job_title)
            seen.add(job_title)

    return jobs

In [70]:
recommendation('react js develop')

IndexError: index 0 is out of bounds for axis 0 with size 0

## Saving Files

In [52]:
import pickle
import os

dir_path = "artifact"
#create directory if it does not exist
os.makedirs(dir_path, exist_ok=True)


# defining file paths

employment_file_path = os.path.join(dir_path, "employment_data.pkl")
similarity_file_path = os.path.join(dir_path, "similarity_data.pkl")

# open and write the employment data

with open(employment_file_path, 'wb') as emp_file:
    pickle.dump(df1, emp_file)

# open and write the similarity data

with open(similarity_file_path, 'wb') as sim_file:
    pickle.dump(similarity, sim_file)

In [61]:
import pickle

# Open the pickle file
with open("artifact/employment_data.pkl", "rb") as file:
    jobs = pickle.load(file)
jobs

,currentCompany,currentDesignation,functionalArea,skills,jobTitle,position,description,new_col
0,esmob technolog,react js develop,softwar develop,cssj,angular develop,developemnt,work team member design implement visual aesth...,esmob technolog react js develop softwar deve...
1,lejara global solut pvt ltd,rpa develop,softwar develop,rpapython,angular develop,developemnt,work team member design implement visual aesth...,lejara global solut pvt ltd rpa develop softw...
2,dhatri info solut pvt ltd,java develop,softwar develop,javaspringhibern,angular develop,developemnt,work team member design implement visual aesth...,dhatri info solut pvt ltd java develop softwa...
3,contractor,java develop,,javaspringboot,angular develop,developemnt,work team member design implement visual aesth...,contractor java develop javaspringboot angul...
4,grimiti softwar solut,java develop,,javaspringboot,angular develop,developemnt,work team member design implement visual aesth...,grimiti softwar solut java develop javasprin...
...,...,...,...,...,...,...,...,...
2376,fresher,react develop,develop,workday toolsworkday hcm functionalcor compens,workday analyst,wokday function,workday certif 8 year implement experi workday...,fresher react develop develop workday toolswo...
2377,fresher,react develop,develop,html 5cssjava scriptsjqueryangularjsjsonangular,web ui develop,web ui develop,web ui develop html 5 css java script jqueri a...,fresher react develop develop html 5cssjava s...
2378,fresher,react develop,develop,hri,workday hri analyst traine analyst,traine analyst,support client around clock person requir work...,fresher react develop develop hri workday hri...
2379,fresher,react develop,develop,workdaycor compensationworkday hcmworkday tool,workday,workaday function,workday certif 8 year implement experi workday...,fresher react develop develop workdaycor comp...
2380,fresher,react develop,develop,html,web ui,develop,web ui develop html 5 css java script jqueri a...,fresher react develop develop html web ui dev...

In [63]:
jobs[['jobTitle', 'currentDesignation']].values

array([['angular develop', 'react js develop'],
       ['angular develop', 'rpa develop'],
       ['angular develop', 'java develop'],
       ...,
       ['workday hri analyst traine analyst', 'react develop'],
       ['workday', 'react develop'],
       ['web ui', 'react develop']], dtype=object)

In [64]:
df_job.columns

Index(['jobTitle', 'position', 'minBudget', 'maxBudget', 'travelReq',
       'location', 'description', 'attachment', 'orgId', 'jobType', 'skills',
       'recruiter', 'client', 'minExp', 'maxExp', 'noticePeriod', 'status',
       'jobId', 'createDate', 'vacancies', 'priority', 'priceType', 'workType',
       'comment', 'subvendorId', 'Questionnaires', 'country', 'department',
       'eligibility', 'responsibilities'],
      dtype='object')

In [65]:
df_job.shape

(307, 30)